<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <label>
    <input ngModel type="text" name="itemname" required maxlength="10" minlength="4" placeholder="itemname">
  </label>
  <br>
 
  <label>
    <input ngModel type="text" name="item_color" required maxlength="10" minlength="7" placeholder="item_color">
  </label>
  <br>

  <label>
    <input ngModel type="text" name="item_price" required maxlength="10" minlength="2" placeholder="item_price">
  </label>
  <br>

  <label>
    <input ngModel type="number" name="item_amunt" required maxlength="2" minlength="2" placeholder="item_amunt">
  </label>


  <button>add item</button>
</form>